/***Partners block***/

.popup_button {
    /*width: 270px;*/
    /*height: 133px;*/
    /*border-radius: 5px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*background-color: white;*/
    /*padding: 30px;*/
    /*position: relative;*/
    /*cursor: pointer;*/
}
.popup_button img {
    max-width: 100%;
}
.partners_item_popup_wrapper {
    display: none;
}
.partners-block-section .content-wrapper.wrapper-1245 {
    padding-left: 0;
    padding-right: 0;
}
.partners-block-section .popup_button:after {
    content: '';
    background-image: url(../images/Information_Icon.svg);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 9px;
    right: 9px;
}
#popup_close_button {
    width: 16px;
    height: 16px;
    background-image: url(/app/themes/quitclinics-child/assets/images/icons/icon-control-close-cross-grey.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.popup_content_wrapper {
    position: absolute;
    background: white;
    z-index: 10000000000000000000000000000000000000000000000000001;
    max-width: 1130px;
    padding: 60px;
    margin: 20px;
    max-height: 90%;
}

.popup_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 1000000000000000000000000000000000000000000000000000;
}
.item_popup_wrapper, .popup-main-wrapper {
    display: none;
}
.popup-main-wrapper.popup_opened {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 441;
}
.popup-main-wrapper.popup_opened .item_popup_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    height: 100%;
}
.popup-social i {
    color: black;
}
.popup-social {
    display: flex;
}
.partners-block-section {
    max-width: 1246px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.partners-block-section .rslider .slick-slide {
    margin: 0 16px;
}
.partners_item_popup_logo img {
    max-width: 100%;
}
.item_popup_header {
    padding: 32px 0;
}
.partners_item_popup_text {
    width: 65%;
    margin-left: 20px;
}
.partners_item_popup_text p, .partners_item_popup_text div {
    max-width: 270px;
    font-size: 15px;
    line-height: 160%;
}
.partners_item_popup_headline {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--color-brand-navy-primary);
    font-weight: bold;
    margin-bottom: 16px;
}
.popup-email a, .popup-web a {
    font-size: 14px;
    line-height: 160%;
    color: #0762A4;8
letter-spacing: 0.7px;
    font-weight: bold;
}
.popup-phone span {
    text-transform: uppercase;
    font-weight: bold;
}
.popup-address, .popup-web {
    margin-bottom: 30px;
}
.popup-phone {
    margin-bottom: 20px;
}
.item_popup_content_inner h4 {
    color: var(--color-brand-navy-primary);
    letter-spacing: 0.02em;
    line-height: 110%;
    padding-bottom: 15px;
}
.popup-social p {
    margin-right: 20px;
}




/********************* prescription ************************/
.prescription_image {
    max-width: 493px;
    width: 100%;
    height: 296px;
}
.prescription_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.popup_content_wrapper.threatment {
    width: calc(100% - 32px);
    max-width: 621px;
    padding: 64px;
    overflow: auto;
}
.item_popup__subtitle {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.0913043px;
    color: #332CE6;
    margin-bottom: 16px;
    text-align: center;
}
.item_popup__title {
    font-weight: bold;
    font-size: 23px;
    line-height: 18px;
    letter-spacing: 0.15px;
    color: #332CE6;
    margin-bottom: 32px;
    text-align: center;
}
.item_popup__desc {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.0544444px;
    color: #5B5B5B;
    text-align: center;
}
.item_popup__notes {
    padding: 32px 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.item_popup__notes_item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
.item_popup__notes_item:not(:last-child) {
    margin-bottom: 20px;
}
.item_popup__notes_question {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.0544444px;
    color: #5B5B5B;
}
.item_popup__notes_answer {
    max-width: 64%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.0544444px;
    color: #5B5B5B;
    text-align: left;
    padding: 0 10px;
}


.item_popup_wrapper .item_popup__accordion-list {
    text-align: left;
}
.item_popup_wrapper .accordion__btn {
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 0.07px;
    color: var(--color-blue);
    padding: 16px 0;
}
.item_popup_wrapper .accordion_item:not(:last-child) {
    border-bottom: 1px solid #DDDDDD;
}
.item_popup_wrapper .accordion_item:first-child {
    border-top: none;
}
.item_popup_wrapper .accordion_item:last-child {
    border-top: none;
    border-bottom: 1px solid #DDDDDD;
}
.item_popup_wrapper .accordion__btn:before {
    top: 19px;
}
.item_popup_wrapper .accordion__panel  {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.0544444px;
    color: rgb(91, 91, 91);
}
.item_popup_wrapper .accordion__btn.active ~ .accordion__panel {
    padding: 16px 0;
}
.treatment-selection_more_info {
    cursor: pointer;
    color: var(--color-lt-blue);
    font-weight: bold;
    text-decoration: underline;
    position: relative;
}
@media (max-width:  767px) {

    .partners_item_popup_text {
        width: 100%;
        margin-left: unset;
    }
    .popup_content_wrapper {
        padding: 20px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .partners-block-section {
        padding-left: 25px;
        padding-right: 25px;
    }
    .popup-social {
        justify-content: center;
    }
    .popup-social p {
        margin: 0 15px;
    }

    /*threatment*/

    .popup_content_wrapper.threatment {
        padding: 64px 16px 30px;
    }
    .prescription_image {
        height: 186px;
    }
    .item_popup__subtitle {
        margin-bottom: 8px;
    }
    .item_popup__title {
        margin-bottom: 23px;
    }
    .item_popup__notes {
        padding: 26px 0;
    }
    .item_popup__notes_question {
        margin-bottom: 6px;
    }
    .item_popup__notes_answer {
        padding: 0;
    }
    .item_popup__notes_item {
        flex-direction: column;
    }
    .item_popup__notes_answer {
        max-width: 100%;
    }
    .item_popup_wrapper .accordion__btn.active ~ .accordion__panel {
        padding: 8px 0;
    }
}
@media (max-width: 580px) {
    .popup_item_wrapper.slick-slide.slick-current.slick-active {
        width: 270px!important;
    }
}